<% content_for :title, "BanK-O - Mes listes de favoris" %>
<div class="container-favorite-lists">
  <div class="container-local">
    <h1>Vos listes de favoris :</h1>
    <div class= "all-cards-favorites" data-controller="favorite-list-toggle">
      <% @favorite_lists.each do |favorite_list| %>
        <div>
          <div data-favorite-list-toggle-target="favoriteList" data-action="click->favorite-list-toggle#toggleCard">
            <div>
              <div class="card-favorite-list-local">
                <h5 class="card-favorite-title"><%= favorite_list.title.capitalize %></h5>
                <% if favorite_list.favorites.any? %>
                  <% random_favorite = favorite_list.favorites.sample %>
                  <%= image_tag random_favorite.meal.photo, class: 'random-favorite-image' %>
                <% end %>
                <%= button_to favorite_list_path(favorite_list), method: :delete, class:"button-delete" do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </div>
              <div class="d-none card-favorite-list-details" data-favorite-list-toggle-target="toggleable">
                <% if favorite_list.favorites.any? %>
                  <div class="container-cards-fav cards-meals-favorite">
                    <% favorite_list.favorites.each do |favorite| %>
                      <div class="position-button-fav-card">
                        <%= link_to meal_path(favorite.meal), class:"card-meal-index card-bg-image card-m card-meals-favorite", style:"background-image: url(#{favorite.meal.photo})" do %>
                          <h2 class="title-meal-card"><%= favorite.meal.name %></h2>
                        <% end %>
                        <%= button_to favorite_list_favorite_path(favorite_list, favorite), method: :delete, class:"button-delete" do %>
                          <i class="fa-solid fa-trash"></i>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% else %>
                  <p>Votre liste est vide!</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
