<% content_for :title, "BanK-O - Recette : #{@recipe.name}" %>
<div class="container-recipe-index">
  <div class="container-local">
    <div class="card-recipe-show">
      <h2 class="title-meals"><%= @recipe.name %></h2>

      <div class="card-recipe-index">
        <%= image_tag(@recipe.photo, alt: @recipe.name)  %>
      </div>
      <div class="recipe-description-show">
        <h2 style="text-align: center">Recette</h2>
        <p> <%= @recipe.description.html_safe %></p>
      </div>
      <div class="recipe-button-card" >
        <%= link_to "Retour", meal_path(@meal), class:"button-back" %>
        <%= link_to 'Plats', meals_path(query: @meal.localisation, Localiser: "Localiser"), class:"button-back" %>
      </div>
  </div>
</div>
