<h1><%= @meal.name %></h1>

<div>
  <a href="<%= meal_recipe_path(@meal) %>">
    <div>
      <%= image_tag(@meal.photo, alt: @meal.name) if @meal.photo.present? %>
    </div>
  </a>
  <div>
    <p><strong>Description:</strong> <%= @meal.description %></p>
  </div>
</div>

<div>
  <h2>Restaurants proposant ce plat :</h2>
 <ul>
    <% @restaurants.each do |restaurant| %>
      <li>
        <strong><%= restaurant.name %></strong><br>
        <%= restaurant.address %><br>
        <%= restaurant.phone_number %><br>
        <a href="<%= restaurant_path(restaurant) %>">
          <%= image_tag(restaurant.photo, alt: restaurant.name)%>
        </a>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Retour à la liste des repas', meals_path %>

<!-- Bouton pour ajouter le plat à une liste de favoris -->
<%#  refacto le local: true %>
<% if user_signed_in? %>
  <%= form_with url: favorite_path(@meal), method: :post, local: true do |form| %>
    <%= form.hidden_field :meal_id, value: @meal.id %>
    <%= form.collection_select :favorite_list_id, current_user.favorite_lists, :id, :title, prompt: "Sélectionnez une liste de favoris" %>
    <%= form.submit 'Ajouter à la liste de favoris' %>
  <% end %>
<% end %>
