<div class="meals-show">
  <div class="container-local">
    <div class="meals-info">
      <div class="meals-info-image">

          <%= image_tag(@meal.photo, alt: @meal.name, class:"image-position") if @meal.photo.present? %>
          <div>
          <a href="<%= meal_recipe_path(@meal) %>">
          <i class="fa-solid fa-kitchen-set fa-3x button-recipe"></i>
          </div>


<% if user_signed_in? %>




<%= link_to favorite_path(@meal), data: {turbo_method: :post}, class: 'button-add-favorite' do %>
        <i class="fa-solid fa-heart"></i>
<% end %>



<% end %>



        </a>
      </div>
      <div class="meals-info-body">
        <a href="<%= meal_recipe_path(@meal) %>"><h1><%= @meal.name %></h1></a>
        <p><strong>Description:</strong> <%= @meal.description %></p>
      </div>
    </div>
  </div>
</div>

<div class="meals-show">
  <div class="container-local">
    <div class="meals-restaurants-info">
      <h2>Restaurants proposant ce plat :</h2>
      <ul>
        <% @restaurants.each do |restaurant| %>
          <li>
            <a href="<%= restaurant_path(restaurant) %>">
              <div class="card-meal-restaurant">
                <div class="card-meal-restaurant-info">
                  <h3><%= restaurant.name %></h3>
                </div>
                <div class="card-meal-restaurant-img">
                    <%= image_tag(restaurant.photo, alt: restaurant.name)%>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>





<div class="meals-show">
  <div class="container-local">
    <div class="meals-button-back">
      <INPUT TYPE="button" VALUE="Retour" onClick=" history.back();" class="button-back">
    </div>
  </div>
</div>
