<% content_for :title, "BanK-O - Restaurant : #{@restaurant.name}" %>
<div class="container-card-restaurant">
  <div class="card-restaurant-show">
    <%= image_tag "#{@restaurant.photo}", alt: "Photo" %>
    <h2><%= @restaurant.name.capitalize %></h2>
    <div class="rating">
      <%# Permet d'afficher le bon nombre d'étoile pour le rating %>
      <%# Si la note est égal 0 %>
      <% if @rating.to_f == 0 %>
        <%# Ne pas ajouter de code %>
      <%# Si la note est un entier %>
      <% elsif @rating.to_f % 1 == 0 %>
        <% @rating.to_i.times do %>
          <i class="fa-solid fa-star rating-stars"></i>
        <% end %>
        <% (5-@rating.to_i).times do %>
          <i class="fa-regular fa-star rating-stars"></i>
        <% end %>
        <%= @rating.to_f %>
      <%# Si la note est un float %>
      <% else %>
        <% @rating.to_f.floor.times do %>
          <i class="fa-solid fa-star rating-stars"></i>
        <% end %>
        <i class="fa-solid fa-star-half-stroke rating-stars"></i>
        <% (4-@rating.to_i.floor).times do %>
          <i class="fa-regular fa-star rating-stars"></i>
        <% end %>
        <%= @rating.to_f %>
      <% end %>
    </div>
    <div class="address-information">
      <i class="fa-solid fa-location-dot"></i>
      <h5><%= @restaurant.address.capitalize %></h5>
    </div>
    <div class="phone-information">
      <i class="fa-solid fa-phone"></i>
      <a href="tel:<%=@restaurant.phone_number%>"><h5><%= @restaurant.phone_number%></h5></a>
    </div>
    <p><%= @restaurant.description.capitalize %></p>
    <div class="card-restaurant-mapbox">
      <div style="width: 100%; height: 20vh; border-radius: 10px;"
        data-controller="map"
        data-map-markers-value="<%= [@markers.to_json] %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<div class="container-button">
  <div>
    <INPUT TYPE="button" VALUE="Retour" onClick=" history.back();" class="button-back">
  </div>
</div>
