<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "BanK-O - Trouvez les plats locaux" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <script src="https://kit.fontawesome.com/8348034ad7.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js'></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= controller_name %>-index">
  <div class="navbar-local">
    <%= render "shared/navbar" %>
  </div>
  <div class="content-body">
    <p class="notice d-none"><%= notice %></p>
    <p class="alert d-none"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
